<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo.title} - Products</title>
<meta name="keywords" content="{$seo.keywords}" />
<meta name="description" content="{$seo.description} " />
<!-- <link href="templatemo_style.css" rel="stylesheet" type="text/css" /> -->
{css href="/public/css/templatemo_style.css"}
<!-- <link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" /> -->
{css href="/public/css/ddsmoothmenu.css"}
<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
{js href="/public/js/jquery.min.js"}
<!-- <script type="text/javascript" src="js/ddsmoothmenu.js"> -->
{js href="/public/js/ddsmoothmenu.js"}



</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "top_nav", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<!-- <script type="text/javascript" src="js/jquery-1-4-2.min.js"></script>  -->
{js href="/public/js/jquery-1-4-2.min.js"}
<!-- <link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" />  -->
{css href="/public/css/slimbox2.css"}
<!-- <script type="text/JavaScript" src="js/slimbox2.js"></script>  -->
{js href="/public/js/slimbox2.js"}

</head>

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

	<div id="templatemo_header">
    	<div id="site_title"><h1><a href="#">{$website.sitename} {$website.short_url}</a></h1></div>
        <div id="header_right">
        	<!-- <p>
            <a href="#">My Account</a> | <a href="#">愿望清单</a> | <a href="#">我的收藏</a> | <a href="#">登陆</a></p>
              
                <p> 未读消息: <strong>3</strong> ( <a href="#">阅读消息</a> )</p> -->
		</div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->
    
    <div id="templatemo_menubar">
    	<div id="top_nav" class="ddsmoothmenu">
            <ul>
                            <li><a href="{$website.homepage}" class="selected">首页</a></li>               
                           {volist name='parents' id='me'}
                           <li><a href="{$me.url}">{$me.title}</a></li>
                            <?php  if(!empty($children[$me['id']]))
                                           {
                                                echo '<ul>';
                                                foreach($children[$me[id]] as $key=>$value){
                                                    echo '<li><a href="'.$value['url'].'">'.$value['title'].'</a></li>';
                                                }
                                                echo '</ul>';
                                           }
                             ?>
                            {/volist}
                        </ul>
            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
        <div id="templatemo_search">
            <form action="#" method="get">
              <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div> <!-- END of templatemo_menubar -->
    
    <div id="templatemo_main">
    	<div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
            	<h3>Categories</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                    	<li class="first"><a href="{$categorys.0.url}">{$categorys.0.title}</a></li>
                        <?php for($id=1;$id<sizeof($categorys)-1;$id++){
                            echo '<li><a href="'.$categorys[$id]['url'].'">'.$categorys[$id]['title'].'</a></li>';
                        }
                        ?>
                        <li class="last"><a href="<?php echo $categorys[sizeof($categorys)-1]['url']?>"><?php echo $categorys[sizeof($categorys)-1]['title'];?></a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar_box"><span class="bottom"></span>
            	<h3>好鞋推荐  </h3>   
                <div class="content"> 
                	{volist name='recommand' id='re'}
                           <div class="bs_box">
                            <a href="#"><img src="{$re.image_path}" alt="image" width="58" /></a>
                            <h4><a href="#">{$re.title}</a></h4>
                            <p class="price">{$re.price}</p>
                            <div class="cleaner"></div>
                        </div>
                    {/volist}
                </div>
            </div>
        </div>
        <div id="content" class="float_r">
        	<h1>商品详情</h1>
            <div class="content_half float_l">
        	<a  rel="lightbox[portfolio]" href="images/product/10_l.jpg"><img src="{$product.image_path}" alt="image" width="300" /></a>
            </div>
            <div class="content_half float_r">
                <table>
                    <tr>
                        <td width="160">价格:</td>
                        <td>{$product.price}</td>
                    </tr>
                    <tr>
                        <td>月销量：</td>
                        <td>{$product.sales_volume}</td>
                    </tr>
                    <tr>
                        <td>优惠券:</td>
                        <td>{$product.coupon_info}</td>
                    </tr>
                    {notempty name='product.coupon_link'}<tr>
                        <td>优惠券链接:</td>
                        <td><a href="{$product.coupon_link}" target="_blank">点此领取</a></td>
                    </tr>{/notempty}
                    <tr>
                    
                </table>
                <div class="cleaner h20"></div>

                <a href="shoppingcart.html" class="detail"></a>

			</div>
            <div class="cleaner h30"></div>
            
            <h5>商品名称</h5>
            <p>{$product.title}</p>	
            
          <div class="cleaner h50"></div>
            
            <h3>相关推荐</h3>
        	{volist name='recommand_by_c' id='product' mod='3'}
            <div class="product_box {eq name='mod' value='2'}no_margin_right{/eq}">
                <h3></h3>
                <a href="{$product.tbk_link}" target="_blank"><img src="{$product.image_path}" alt="Shoes 1" width="200" /></a>
                <p>{$product.title}</p>
                <p class="product_price">{$product.price}</p>
                <!-- <a href="shoppingcart.html" class="addtocart"></a> -->
                <a href="{$product.url}" target="_blank" class="detail"></a>
            </div>
            {eq name='mod' value='2'}<div class="cleaner"></div>{/eq}
            {/volist}
        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    <div id="templatemo_footer">
        <p>
             {volist name='parents' id='me'}
            <a href="{$me.url}">{$me.title}</a> | 
            {/volist}
            <a href="#">Contact Us</a>
        </p>

        Copyright © 2072 <a href="#">{$seo.title} heimaowu.cn</a> | 备案号： <a href="#" target="_parent">皖ICP备15008357号</a>
    </div><!-- END of templatemo_footer -->
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>